@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Avant Garde Demi BT";
  font-style: normal;
  font-weight: normal;
  src: local("Avant Garde Demi BT"),
    url("./assets/fonts/AVGARDD_2.woff") format("woff");
}

:root {
  --black: #0d0d0d;
  --red: #eb5939;
  --light-red: hsla(0, 100%, 50%, 0.5);
  --light-white: hsl(0, 50%, 100%, 0.2);
  --white: #b7ab98;
  --color-link: hsla(37, 18%, 66%, 0.5);
  --color-link-active: #b7ab98;
  /*-------------------------------*/
  font-family: "Avant Garde Demi BT", sans-serif, serif;
  /*-------------------------------*/
}

@layer components {
  .top-shadow {
    @apply before:w-full  before:bg-[--black]  before:top-0  before:absolute before:shadow-[0_0_50px_50px_var(--black)] before:left-0;
  }
  .bottom-shadow {
    @apply after:w-full  after:bg-[--black]  after:bottom-0  after:absolute after:shadow-[0_0_50px_50px_var(--black)] after:left-0;
  }
  /*------------------------------------------------*/
  .hero {
    @apply text-5xl md:text-7xl font-black uppercase;
  }
  .section-title {
    @apply text-base uppercase;
  }
  .inner-padding {
    @apply p-2;
  }

  /*-------------------------------------------------*/
  .about-me-container-wrapper {
    @apply w-full font-black  py-20;
  }
  .about-me-container {
    @apply space-y-16 mx-8 md:mx-16 lg:mx-24  h-[20rem];
  }
  .about-me-content {
    @apply text-3xl md:text-5xl text-center max-w-[1024px] mx-auto;
  }
  /*-------------------------------------------------*/
  .what-i-do-container-wrapper {
    @apply w-full font-black py-20;
  }
  .what-i-do-container {
    @apply w-full space-y-16 px-8 md:px-16 lg:px-24;
  }
  .what-i-do-padding {
    @apply py-2 px-2;
  }
  .what-i-do-topic {
    @apply uppercase font-black text-3xl md:text-5xl lg:text-6xl;
  }
  .what-i-do-explan {
    @apply text-base;
  }
  /*----------------------projects---------------------------*/
  .projects-container-wrapper {
    @apply w-full font-black  py-40;
  }
  .projects-container {
    @apply space-y-16 mx-8 md:mx-16 lg:mx-24;
  }
  .projects-content {
    @apply text-3xl md:text-5xl uppercase divide-y-2 divide-[--white];
  }
  /*-----------------------skills--------------------------*/
  .skills-container-wrapper {
    @apply w-full font-black  py-20;
  }
  .skills-container {
    @apply space-y-16 mx-8 md:mx-16 lg:mx-24;
  }
  .skills-logos {
    @apply text-3xl md:text-5xl text-center max-w-[1024px] mx-auto;
  }
}

/* * {
  border: 1px solid white;
} */
